/* 




    /* LOGO */
    /* .name {
        display: inline-block;
        font-family: 'Facon', sans-serif; 
        font-size: 100px;
        background: -webkit-linear-gradient(#eeff00, #ff1e00);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        padding-top: 20px;
        letter-spacing: 1px;
        -webkit-text-stroke: 2px black;
    }
    
    .prof {
        font-family: 'IM Fell English SC', serif;
        font-size: 40px;
        text-transform: lowercase;
        margin: -10px 0 30px 0;
        color: black;
    } */
    
    /* NAVIGATION */
    /* .navbar {
        position: fixed;
        background-color: rgb(167, 0, 0);
        width: 100%;
        color: #fff;
        height: 220px;
        text-align: center;
        z-index: 5;
    }
    
    .req-container {
        position: initial;
    }
    
    nav ul li {
        display: inline-block;
        font-size: 24px;
        padding: 0 20px;
    }
    
    .navbar a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    nav a:hover {
        color: #ffc400;
    }  */
    
    
    /* Home Page */
    /* .home-header {
        margin-top: -40px;
        padding: 75px 0 50px;
        text-align: center;
    }
    
    .home-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #hidden { */
        /* display: none; */
    }
    
    /* .home-section .item {
        position: relative;
        width: 600px;
        height: 400px;
        margin: 20px;
    }
    
    .home-section .item img {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .home-section .item .action {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    
    .home-section .item:hover .action {
        opacity: 1;
        transition: 0.5s;
    }
    
    .home-section .item .action a {
        display: inline-block;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        border: 1px solid white;
        padding: 10px 10px;
    }
    
    .drummond {
        font-family: 'Facon', sans-serif;
        font-size: 80px;
        color: rgb(167, 0, 0);
        display: block;
    }
    
    .home-header h1 {
        font-size: 80px;
        text-transform: uppercase;
    }
    
    .welcome {
        text-align: center;
    }
    
    .welcome h1 {
        font-size: 40px;
        margin: 25px;
        height: 100%;
        width: auto;
        text-transform: uppercase;
    }
    
    .welcome p {
        font-size: 30px;
        margin-top: -10px;
    }
    
    .welcome ul {
        margin: 30px auto;
        font-size: 1.5rem;
    }
    
    .welcome ul li {
        padding: 5px;
    }
    
    .req-link a{
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #ff1e00;
        text-decoration: none;
    }
    
    .req-link a:hover {
        font-size: 1.4rem;
        text-decoration: underline;
    } */





/* 

/* REQUEST PAGE */
/* .req-form {
    text-align: center;
    margin-top: -75px;
}

.req-box {
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px #000;
    border-radius: 5px;
    background-color: rgb(230, 222, 222);
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}

.req-name {
    padding: 0 15px 15px 15px;
}

.req-band {
    padding: 15px;
}

.req-song {
    padding: 15px;
}

.req-msg {
    border: #000 2px solid;
    margin: 15px;
    padding: 15px;
}

.req-btn {
    border: #000 2px solid;
    margin: 20px;
    padding: 20px;
    background: #ff1e00;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
}

.req-btn:hover {
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    transition: all .35s ease-in-out;
}

.req-btn:active {
    transform: scale(1.08);
    transition: all 10ms;
} */

/* VIDEOS */
/* .video-stanza, .about-stanza, .blog-header {
    padding: 75px 0 50px;
    text-align: center;
}

.video-stanza h1 {
    font-size: 80px;
    padding: 25px 0 45px;
    text-transform: uppercase;
}

.video-stanza p, .about-stanza p {
    font-size: 28px;
}

video {
    width: 100%;
    height: 400px;
}    

.videos, .about, .home {
    position: fixed;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.vid-box {
    padding: 10px 10px;
    text-align: center; 
}

.band {
    font-size: 35px;
}

.song {
    font-size: 25px;
}

.v1 {
    float: left;
    margin: 50px;
}

.v2{
    float: right;
    margin: 50px;
}

.narrow-l {
    margin-left: 200px;
}

.narrow-r {
    margin-right: 200px;
} */




/* About */
/* .drummond-about {
    font-family: 'Facon', sans-serif;
    font-size: 80px;
    color: rgb(167, 0, 0);
}

.about-stanza {
    padding-top: 75px;
}

.about-stanza h1 {
    font-size: 60px;
    padding: 25px 0 45px;
    text-transform: uppercase;
}

.about1 {
    overflow: auto;
    margin-top: -100px;
    padding-top: -200px;
}

.about2 {
    overflow: auto;
}

.about3 {
    overflow: auto;
} */

/* .drpic{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    border: 10px solid rgb(167, 0, 0);
}

.drface {
    float: right;
    margin-right: 150px;
    transform: skew(-6deg, 6deg);
    box-shadow: 20px 15px 18px black;
}

.dr-guitar {
    float: left;
    margin-left: 150px;
    transform: skew(7deg, -7deg);
    box-shadow: -20px 15px 18px black;
} */








/* Blog */
/* .blog-container {
    position: fixed;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.blog-header {
    margin: 45px;
    text-align: center;
    text-transform: uppercase;
}

.blog-header h1 {
    font-size: 60px;
}

.blog-header p{
    margin-top: 10px;
    padding: 10px;
    font-size: 28px;
}

.blog {
    margin: 0 20px;

}

.blog h2 {
    font-size: 35px;
    text-decoration: double black underline;
    padding-bottom: 8px;
}

.blog p {
    font-size: 24px;
    margin-bottom: 30px;
}
 */



































/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (max-width: 321px) { */
    /* LOGO */
    /* .name {
        display: block;
        font-family: 'Facon', sans-serif; 
        font-size: 48px;
        background: -webkit-linear-gradient(#eeff00, #ff1e00);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        padding-top: 8px;
        letter-spacing: 1px;
        -webkit-text-stroke: 2px black;
    }
    
    .prof {
        font-family: 'IM Fell English SC', serif;
        font-size: 25px;
        text-transform: lowercase;
        margin-bottom: 30px;
        color: black; */
    /* } */
    
    /* NAVIGATION */
    .navbar {
        /* position: fixed;
        background-color: rgb(167, 0, 0);
        width: 100%;
        color: #fff;
        height: 220px;
        text-align: center;
    }
    
    .req-container {
        position: initial;
    }
    
    nav ul li {
        display: inline-block;
        font-size: 14px;
        padding: 5px 4px -2px 4px;
    }
    
    .navbar a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    nav a:hover {
        color: #ffc400;
    }  */
    
    /* Home Page */
    /* .home-header {
        margin: -40px 0 -20px 0;
        padding: 75px 0 50px;
        text-align: center;
    }
    
    .home-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #hidden {
        font-size: 20px;
    }
    
    .home-section .item {
        position: relative;
        width: 300px;
        height: 200px;
        margin: 20px;
    }
    
    .home-section .item img {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .home-section .item .action {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }
    
    .home-section .item:hover .action {
        opacity: 1;
        transition: 0.5s;
    }
    
    .home-section .item .action a {
        display: inline-block;
        color: #fff;
        font-size: 24px;
        text-decoration: none;
        border: 1px solid white;
        padding: 10px 10px;
    }
    
    .drummond {
        font-family: 'Facon', sans-serif;
        font-size: 50px;
        color: rgb(167, 0, 0);
        display: block;
    }
    
    .home-header h1 {
        font-size: 50px;
        text-transform: uppercase;
    }
    
    .welcome {
        text-align: center;
    }
    
    .welcome h1 {
        font-size: 40px;
        margin: 25px;
        height: 100%;
        width: auto;
        text-transform: uppercase;
    }
    
    .welcome p {
        font-size: 30px;
        margin-top: -5px;
    }
    
    .welcome ul {
        margin: 30px auto;
        font-size: 1.5rem;
    }
    
    .welcome ul li {
        padding: 10px;
    }
    
    .req-link a{
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #ff1e00;
        text-decoration: underline;
    }
    
    .req-link a:hover {
        font-size: 1.4rem;
        text-decoration: underline;
    }

    .video-stanza h1 {
        font-size: 60px;
        padding: 25px 0;
        text-transform: uppercase;
    }

    .video-stanza p, .about-stanza p {
        font-size: 28px;
    }
    
    video {
        width: 300px;
        height: 200px;
    }    
    
    .videos, .about, .home {
        position: fixed;
        top: 220px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
    
    .vid-box {
        padding: -50px 10px;
    }
    
    .band {
        font-size: 35px;
        padding-top: 38px;
    }
    
    .song {
        font-size: 25px;
    }

    section {
        margin: 75px 75px 100px;
        font-size: 30px;
        text-align: center;
    
    }
    
    section h2 {
        width: 90vw;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        margin: -30px 0 0 -60px;
    }
    
    section p {
        width: 90vw;
        font-size: 32px;
        padding: 25px 0;
        margin-left: -60px;
    }

    .req-form {
        text-align: center;
        width: 90vw;
    }
    
    .req-box {
        width: 90vw;
        text-align: center;
        padding: 10px;
        box-shadow: 5px 5px 5px #000;
        border-radius: 5px;
        background-color: rgb(230, 222, 222);
        font-size: 24px;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .req-name {
        padding: 0 15px 15px 15px;
    }
    
    .req-band {
        padding: 15px;
    }
    
    .req-song {
        padding: 15px;
    }
    
    .req-msg {
        border: #000 2px solid;
        margin: 15px;
        padding: 15px;
    }
    
    .req-btn {
        border: #000 2px solid;
        margin: 20px;
        padding: 20px;
        background: #ff1e00;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 16px;
    }
    
    .req-btn:hover {
        color: #fff;
        cursor: pointer;
        transform: scale(1.1);
        transition: all .35s ease-in-out;
    }
    
    .req-btn:active {
        transform: scale(1.08);
        transition: all 10ms;
    }

    .drummond-about {
        font-family: 'Facon', sans-serif;
        font-size: 40px;
        color: rgb(167, 0, 0);
    }
    
    .about-stanza {
        padding-top: 20px;
        margin-bottom: -200px;
    }
    
    .about1 {
        overflow: auto;
    }
    
    .about2 {
        margin-top: -50px;        
    }
    
    .about3 {
        margin-top: -100px;
    }
    
    .drpic{
        height: 250px;
        width: 250px;
        border-radius: 15px;
        border: 10px solid rgb(167, 0, 0);
    }
    
    .drface {
        margin-bottom: 30px;
        box-shadow: 20px 15px 18px black;
    }
    
    .dr-guitar {
        margin-top: -65px;
        box-shadow: -20px 15px 18px black;
    }

    .blog-container, .req-container {
        position: fixed;
        top: 220px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
    }
    
    .blog-header {
        margin: 40px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .blog-header h1 {
        width: 80vw;
    }
    
    .blog-header p{
        width: 80vw;
        margin-top: 10px;
        padding: 10px;
        font-size: 28px;
    }
    
    .blog {
        margin: 0 20px;
    
    }
    
    .blog h2 {
        font-size: 26px;
        text-decoration: double black underline;
        padding-bottom: 8px;
    }
    
    .blog p {
        font-size: 1rem;
        margin-bottom: 30px;
    }
} */



/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { */

/* } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

} */ 